button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px !important;
    background-color: rgb(0, 0, 83);
    color: white;
    border: none;
    width: max-content;
    transition: .5s;
    position: relative;
    overflow: hidden;
    transition: .5s;
}

button::after{
    content: "";
    position: absolute;
    top: -10px;
    width: 250px;
    height: 5px;
    background-color: black;
    
}
button::before{
    content: "";
    position: absolute;
    bottom: -10px;
    width: 250px;
    
    height: 5px;
    background-color: black;
}
.before-hover{
    transform: scale(1.1);
    border: 1px solid white;
}
.before-hover::before{
    animation: button-hover-before 1s;
    rotate: 180deg;
}
@keyframes button-hover-before{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 180deg;
    }
}

.before-hover::after{
    animation: button-hover-after 1s;
    rotate: -180deg;
}
@keyframes button-hover-after{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: -180deg;
    }
}


